body {
  font-family: "Abel", sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
  /* background-color: black; */
}

nav.nav {
  display: block;
  padding: 0px;
  margin: 0px auto;
  position: relative;
  top: 0;
  background: #000;
}

@media screen and (min-width: 768px) {
  nav.nav {
    display: block !important;
  }
}

@media screen and (max-width: 767px) {
  nav.nav {
    display: none;
  }
}

ul.list {
  padding: 0;
  margin: 0;
}

ul.list > li {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  ul.list > li {
    display: block;
  }
}

button.btn_switch {
  display: none;
}
/* 行動版時，將按鈕顯示出來 */
@media screen and (max-width: 767px) {
  button.btn_switch {
    display: inline-block;
    margin: 20px;
  }
}

ul.list > li > a {
  padding: 10px;
  color: yellow;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: 10px center;
  margin-right: 50px;
}

@media (max-width: 767px) {
  ul.list > li > a {
    display: flex;
    flex-direction: column;
  }
}

ul.list > li > a:hover {
  transform: scale(1.2, 1.2);
  color: lightsalmon;
  transition: all 0.1s ease-in-out;
}

@media (max-width: 767px) {
  ul.list > li > a:hover {
    transform: scale(1, 1);
  }
}

button.btn_switch {
  font-size: 1.5rem;
}

a.log > img.logo {
  width: 60px;
  height: 41.95px;
}

@media (max-width: 767px) {
  a.log {
    position: absolute;
    visibility: hidden;
  }
}
