body {
  font-family: "Abel", sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: black;
}

nav.nav {
  display: block;
  padding: 0px;
  margin: 0px auto;
  position: relative;
  top: 0;
  background: #000;
}

@media screen and (min-width: 768px) {
  nav.nav {
    display: block !important;
  }
}

@media screen and (max-width: 767px) {
  nav.nav {
    display: none;
  }
}

ul.list {
  padding: 0;
  margin: 0;
}

ul.list > li {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  ul.list > li {
    display: block;
  }
}

button.btn_switch {
  display: none;
}
/* 行動版時，將按鈕顯示出來 */
@media screen and (max-width: 767px) {
  button.btn_switch {
    display: inline-block;
    margin: 20px;
  }
}

ul.list > li > a {
  padding: 10px;
  color: yellow;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: 10px center;
  margin-right: 50px;
}

@media (max-width: 767px) {
  ul.list > li > a {
    display: flex;
    flex-direction: column;
  }
}

ul.list > li > a:hover {
  transform: scale(1.2, 1.2);
  color: lightsalmon;
  transition: all 0.1s ease-in-out;
}

@media (max-width: 767px) {
  ul.list > li > a:hover {
    transform: scale(1, 1);
  }
}

button.btn_switch {
  font-size: 1.5rem;
}

a.log > img.logo {
  width: 60px;
  height: 41.95px;
}

@media (max-width: 767px) {
  a.log {
    position: absolute;
    visibility: hidden;
  }
}

.slider {
  margin: 0 auto;
  width: 100%;
}

.slide_viewer {
  height: 50vw;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

background-image,
img {
  object-fit: cover;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background-image: url("https://m.media-amazon.com/images/M/MV5BODA5ZmIwOWItYzMxYy00OGMzLWI1Y2ItNTkxYzJmZWY3YzZhXkEyXkFqcGdeQXVyNDg4NjY5OTQ@._V1_FMjpg_UX1280_.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.slide:nth-of-type(2) {
  background-image: url("https://m.media-amazon.com/images/M/MV5BYTkyOTVlZTUtMzZhMy00ZjFkLWI2YTYtYmM5N2Q2MmM4M2EwXkEyXkFqcGdeQXVyNzgxMzc3OTc@._V1_FMjpg_UX1280_.jpgjpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.slide:nth-of-type(3) {
  background-image: url("https://m.media-amazon.com/images/M/MV5BOTIwMjIzYzctNmRhOC00MTA3LTk4YWEtOTYxODg5N2U4ZGE4XkEyXkFqcGdeQXVyNzgxMzc3OTc@._V1_FMjpg_UX1280_.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.slide:nth-of-type(4) {
  background-image: url("https://m.media-amazon.com/images/M/MV5BZWIwNWY4ZTUtMDcxMC00M2YyLTk3YjItMWI0YjJmNmQyYTk1XkEyXkFqcGdeQXVyNzgxMzc3OTc@._V1_FMjpg_UX1280_.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.slide_buttons {
  top: 10%;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
  color: #428cc6;
  cursor: pointer;
}

.directional_nav {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  top: -500px;
}

.previous_btn {
  background-color: black;
  border-radius: 50%;
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  background-color: black;
  border-radius: 50%;
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn,
.next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover,
.next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    top: 700px;
    left: 50px;
  }
  .next_btn {
    top: 700px;
    right: 50px;
  }
}

img {
  object-fit: cover;
}

div.mid {
  letter-spacing: 2px;
  display: flex;
  margin-top: 100px;
}

div.mid h1 {
  /* border: 1px solid pink; */
  font-size: 3rem;
  padding: 10px;
  color: yellow;
  display: flex;
  flex-direction: column;
}

div.con1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

article.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 500px;
  /* width: calc(100% / 4); */
}

article.card a.img_block > img {
  width: 100%;
  max-height: 250px;
  transition: all 0.5s ease-in-out;
}

article.card a.img_block > img:hover {
  transform: scale(1.1, 1.1);
}

article.card div.content_block {
  word-break: break-all;
  padding: 10px;
  margin-bottom: 50px;
}

article.card h1 {
  padding-top: 10px;
  color: white;
  margin: 0 0 10px 0;
  font-size: 1.5rem;
}

article.card p {
  /* opacity: 0.9; */
  padding-top: 20px;
  color: white;
  font-size: 1.2rem;
  margin: 0;
}

div.sh {
  width: 100%;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  div.sh {
    display: flex;
    flex-direction: column;
  }
}

a.last {
  width: 200px;
  color: blue;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

a.last h1 {
  margin: auto;
  padding: 20px;
  text-align: center;
}

a > i {
  font-size: 3rem;
  color: white;
  animation: dance 1s infinite;
}

@keyframes dance {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-50px);
  }
}

footer > a {
  text-decoration: none;
  align-self: flex-end;
  margin-right: 5%;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

p.fin {
  color: lightgray;
  margin: 0;
  font-size: 1.2rem;
}

p.si {
  margin: 0;
  border-top: 2px solid gray;
  padding-top: 20px;
  margin-top: 20px;
  color: pink;
  font-size: 1.2rem;
}
