body {
  font-family: "Abel", sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
  background: black;
}

nav.nav {
  display: block;
  padding: 0px;
  margin: 0px auto;
  position: relative;
  top: 0;
  background: #000;
}

@media screen and (min-width: 768px) {
  nav.nav {
    display: block !important;
  }
}

@media screen and (max-width: 767px) {
  nav.nav {
    display: none;
  }
}

ul.list {
  padding: 0;
  margin: 0;
}

ul.list > li {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  ul.list > li {
    display: block;
  }
}

button.btn_switch {
  display: none;
}
/* 行動版時，將按鈕顯示出來 */
@media screen and (max-width: 767px) {
  button.btn_switch {
    display: inline-block;
    margin: 20px;
  }
}

ul.list > li > a {
  padding: 10px;
  color: yellow;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: 10px center;
  margin-right: 50px;
}

@media (max-width: 767px) {
  ul.list > li > a {
    display: flex;
    flex-direction: column;
  }
}

ul.list > li > a:hover {
  transform: scale(1.2, 1.2);
  color: lightsalmon;
  transition: all 0.1s ease-in-out;
}

@media (max-width: 767px) {
  ul.list > li > a:hover {
    transform: scale(1, 1);
  }
}

button.btn_switch {
  font-size: 1.5rem;
}

a.log > img.logo {
  width: 60px;
  height: 41.95px;
}

@media (max-width: 767px) {
  a.log {
    position: absolute;
    visibility: hidden;
  }
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

section.first {
  display: grid;
  place-items: center;
}

@media screen and (max-width: 800px) {
  section.first {
    width: 95%;
  }
}

.page-content {
  display: grid;
  grid-gap: 4rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url("https://m.media-amazon.com/images/M/MV5BNTIyM2IzOTMtNjUwOS00OGVkLTkwYzktMjkzYmQyZmVlY2RlXkEyXkFqcGdeQXVyNzgxMzc3OTc@._V1_FMjpg_UX1280_.jpg");
}
.card:nth-child(2):before {
  background-image: url("https://www.delosdestinations.com/assets/ww_warworld_LP_01_0303202020.jpg");
}
.card:nth-child(3):before {
  background-image: url("https://www.delosdestinations.com/assets/WWS2_DD_SHOGUNWORLD_Still_033018.jpg");
}
.card:nth-child(4):before {
  background-image: url("https://www.delosdestinations.com/assets/DD_WW_still_optimized_18_0502.jpg");
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

div.container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 767px) {
  div.container {
    display: flex;
    flex-direction: column;
  }
}

div.container.active {
  opacity: 1;
  transform: scale(1);
}

img {
  object-fit: cover;
  width: 500px;
  height: 250px;
  transition: all 0.5s ease-in-out;
}

img:hover {
  transform: scale(1.1, 1.1);
}

div.con1 {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

div.con1 h1 {
  color: yellow;
  font-size: 1.5rem;
  text-align: center;
}

div.con1 p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

div.container1 {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 767px) {
  div.container1 {
    display: flex;
    flex-direction: column;
  }
}

div.container1.active {
  opacity: 1;
  transform: scale(1);
}

div.con2 {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

div.con2 h1 {
  color: yellow;
  font-size: 1.5rem;
  text-align: center;
}

div.con2 p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

div.container2 {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 767px) {
  div.container2 {
    display: flex;
    flex-direction: column;
  }
}

div.container2.active {
  opacity: 1;
  transform: scale(1);
}

div.con3 {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

div.con3 h1 {
  color: yellow;
  font-size: 1.5rem;
  text-align: center;
}

div.con3 p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

div.container3 {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}
@media screen and (max-width: 767px) {
  div.container3 {
    display: flex;
    flex-direction: column;
  }
}

div.container3.active {
  opacity: 1;
  transform: scale(1);
}

div.con4 {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

div.con4 h1 {
  color: yellow;
  font-size: 1.5rem;
  text-align: center;
}

div.con4 p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

a.bt-top {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 5%;
}

a > i {
  font-size: 3rem;
  color: white;
  animation: dance 1s infinite;
}

@keyframes dance {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-50px);
  }
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

p.fin {
  color: lightgray;
  margin: 0;
  font-size: 1.2rem;
}

p.si {
  margin: 0;
  border-top: 2px solid gray;
  padding-top: 20px;
  margin-top: 20px;
  color: pink;
  font-size: 1.2rem;
}
