body {
  font-family: "Abel", sans-serif;
  /* border:1px solid red; */
  box-sizing: border-box;
  background-color: black;
  width: 100%;
}

div.video_placeholder {
  /* border: 1px solid red; */
  box-sizing: border-box;
  width: 100%;
  height: 65vh;
  background-color: black;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  div.video_placeholder {
    width: 100vw;
    height: 100vw;
  }
}

#the_video {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  overflow: hidden;
}

nav.nav {
  display: block;
  padding: 0px;
  margin: 0px auto;
  position: relative;
  top: 0;
  width: 100%;
  background: #000;
}

@media screen and (min-width: 768px) {
  nav.nav {
    /*     display: block; */
    display: block !important;
  }
}

@media screen and (max-width: 767px) {
  nav.nav {
    display: none;
  }
}

ul.list {
  padding: 0;
  margin: 0;
}

ul.list > li {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  ul.list > li {
    display: block;
  }
}

button.btn_switch {
  display: none;
}
/* 行動版時，將按鈕顯示出來 */
@media screen and (max-width: 767px) {
  button.btn_switch {
    display: inline-block;
    margin: 20px;
  }
}

ul.list > li > a {
  /* border:1px solid green; */
  padding: 10px;
  color: yellow;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: 10px center;
  margin-right: 50px;
}

@media (max-width: 767px) {
  ul.list > li > a {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
  }
}

ul.list > li > a:hover {
  transform: scale(1.2, 1.2);
  color: lightsalmon;
  transition: all 0.1s ease-in-out;
}

@media (max-width: 767px) {
  ul.list > li > a:hover {
    transform: scale(1, 1);
  }
}

button.btn_switch {
  font-size: 1.5rem;
}

a.log > img.logo {
  width: 60px;
}

@media (max-width: 767px) {
  a.log {
    position: absolute;
    visibility: hidden;
  }
}

a.vi {
  /* border: 1px solid red; */
  text-decoration: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000;
}

div.fir-end {
  /* border: 1px solid pink; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

@media (max-width: 767px) {
  div.fir-end {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

a.vi > h2 {
  border: 5px solid gray;
  padding: 10px;
  color: gray;
  font-size: 1.5rem;
  margin: 0 auto;
  opacity: 0.5;
}

a.vi > h2:hover {
  opacity: 1;
}

p.line-1 {
  margin: 0;
  background-color: black;
  height: 200px;
  border-right: 5px solid gray;
}

/*   以上是首頁 | page1   */

img {
  object-fit: cover;
}

div.other_contents {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  background-color: black;
  /* border: 1px solid purple; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  div.other_contents {
    width: 100vw;
    /* height: 100vh; */
  }
}

h2.warning {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 2px;
  padding: 60px 0;
  /* border: 1px solid blue; */
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}

h2.warning.active {
  opacity: 1;
  transform: scale(1);
}

p.line {
  /* border:1px solid green; */
  position: absolute;
  border-bottom: 3px solid gray;
  width: 230px;
  left: 50%;
  transform: translateX(-50%);
}

p.content1 {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 2px;
  /* padding-bottom:35px; */
  /* border:1px solid purple; */
  text-align: center;
  padding: 30px 0;
  display: block;
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}

p.content1.active {
  opacity: 1;
  transform: scale(1);
}

p.content2 {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding-bottom: 35px;
  text-align: center;
  padding: 30px 0;
  display: block;
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}

p.content2.active {
  opacity: 1;
  transform: scale(1);
}

div.logopac {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid purple;
}

@keyframes sprite {
  0% {
    z-index: -1;
  }

  100% {
    z-index: 1;
  }
}

div.sprite_block2 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border:1px solid red; */
  height: 150px;
}

img.igm1 {
  /* border:1px solid red; */
  width: 115px;
  position: absolute;
}

img.igm2 {
  width: 115px;
  /* background-color: black; */
  position: absolute;
  animation-name: sprite;
  animation-duration: 3s;
  animation-timing-function: steps(2, end);
  animation-iteration-count: infinite;
}

/*        以上為首頁的第二頁 | page2         */

div.pg2 {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  text-decoration: none;
  /* border: 1px solid blue; */
}

@media (max-width: 767px) {
  div.pg2 {
    width: 100vw;
  }
}

a.pg22 {
  text-decoration: none;
}

h1.title {
  cursor: pointer;
  color: yellow;
  font-size: 2.5rem;
  /* border: 1px solid blue; */
  display: flex;
  list-style: none;
  text-decoration: none;
  letter-spacing: 2px;
  padding-bottom: 50px;
}

h1.title:hover {
  transform: scale(1.2, 1.2);
  color: lightsalmon;
  transition: all 0.1s ease-in-out;
}

h2.view {
  display: block;
  font-size: 1.2rem;
  border: 3px solid gray;
  color: darkgray;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin-bottom: 100px;
}

h2.view:hover {
  transform: scale(1.2, 1.2);
  border: 3px solid lightsalmon;
  color: lightsalmon;
  transition: all 0.1s ease-in-out;
}

.slider_container {
  max-width: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-left: 5%;
  /* border: 1px solid red; */
}

section.convert1 {
  max-width: 100%;
  /* border: 1px solid green; */
  position: relative;
  overflow: hidden;
  font-size: 0;
  display: flex;
  transform: scale(1, 1);
  transition: all 1s ease-out;
}

@media screen and (max-width: 767px) {
  a.convert1 {
    width: 490px;
    height: 275px;
  }
}

section.convert1:hover {
  top: -5%;
  transform: scale(1.1, 1.1);
  z-index: 100;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  a.convert1:hover {
    top: 0%;
    transform: scale(1, 1);
  }
}

.slider_container img.new1 {
  max-width: 100%;
  /* border: 1px solid blue; */
}

span.info1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  font-size: 1.2rem;
  transform: translateY(100%);
  transition: transform 0.5s;
  line-height: 30px;
}

@media screen and (max-width: 767px) {
  span.info1 {
    transform: translateY(100%);
  }
}

section.convert1:hover span.info1 {
  transform: translateY(0%);
}

.slider_container2 {
  margin-left: auto;
  max-width: 50%;
  position: relative;
  margin-right: 5%;
  /* border: 1px solid red; */
}

section.convert2 {
  max-width: 100%;
  /* border: 1px solid green; */
  position: relative;
  overflow: hidden;
  font-size: 0;
  display: flex;
  transform: scale(1, 1);
  transition: all 1s ease-out;
}

section.convert2:hover {
  top: -5%;
  transform: scale(1.1, 1.1);
  z-index: 100;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  a.convert2:hover {
    top: 0%;
    transform: scale(1, 1);
  }
}

.slider_container2 img.new2 {
  margin: 0 auto;
  max-width: 100%;
  /* border:1px solid blue; */
}

span.info2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  font-size: 1.2rem;
  transform: translateY(100%);
  transition: transform 0.5s;
  line-height: 30px;
}

section.convert2:hover span.info2 {
  transform: translateY(0%);
}

.slider_container3 {
  max-width: 50%;
  position: relative;
  margin-left: 5%;
  /* border:1px solid red; */
}

section.convert3 {
  max-width: 100%;
  /* border:1px solid green; */
  position: relative;
  overflow: hidden;
  font-size: 0;
  display: flex;
  transform: scale(1, 1);
  transition: all 1s ease-out;
}

section.convert3:hover {
  top: -5%;
  transform: scale(1.1, 1.1);
  z-index: 100;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  a.convert3:hover {
    top: 0%;
    transform: scale(1, 1);
  }
}

.slider_container3 img.new3 {
  margin: 0 auto;
  max-width: 100%;
  /* border:1px solid blue; */
}

span.info3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  font-size: 1.2rem;
  transform: translateY(100%);
  transition: transform 0.5s;
  line-height: 30px;
}

section.convert3:hover span.info3 {
  transform: translateY(0%);
}

.slider_container4 {
  margin-left: auto;
  max-width: 50%;
  position: relative;
  margin-right: 5%;
  /* border: 1px solid red; */
}

section.convert4 {
  max-width: 100%;
  /* border:1px solid green; */
  position: relative;
  overflow: hidden;
  font-size: 0;
  display: flex;
  transform: scale(1, 1);
  transition: all 1s ease-out;
}

section.convert4:hover {
  top: -5%;
  transform: scale(1.1, 1.1);
  z-index: 100;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  a.convert4:hover {
    top: 0%;
    transform: scale(1, 1);
  }
}

.slider_container4 img.new4 {
  margin: 0 auto;
  max-width: 100%;
  /* border:1px solid blue; */
}

span.info4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  font-size: 1.2rem;
  transform: translateY(100%);
  transition: transform 0.5s;
  line-height: 30px;
}

section.convert4:hover span.info4 {
  transform: translateY(0%);
}

/*    以上首頁第三頁 page3      */

div.imgbox {
  overflow: hidden;
  /* border: 1px solid purple; */
  background-color: black;
  padding: 0 0 0px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-bottom: 20px;
}

article.card {
  margin: 40px 0 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  overflow: hidden;
  /* border: 1px solid blue; */
}

@media screen and (max-width: 767px) {
  article.card {
    width: 100vw;
  }
}

article.card h1 {
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
  color: yellow;
  /* border: 1px solid red; */
  letter-spacing: 2px;
  margin-right: 300px;
}

@media screen and (max-width: 767px) {
  article.card h1 {
    width: 100vw;
    margin: 0 auto;
  }
}

article.card h1:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  color: lightsalmon;
  transition: all 0.1s ease-in-out;
}

div.t1-t2 {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}

@media screen and (max-width: 767px) {
  div.t1-t2 {
    width: 100vw;
    /* margin-right: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

div.t1 img {
  width: 380px;
  cursor: pointer;
  border: 1px solid darkgray;
  transform: perspective(1000px) rotateY(-25deg);
}

div.t1 img:hover {
  border: 1px solid darkgray;
  transform: perspective(1000px) rotateY(25deg);
}

span h1.tit1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

div.t2 img {
  width: 380px;
  height: 212px;
  cursor: pointer;
  border: 1px solid darkgray;
  transform: perspective(1000px) rotateY(25deg);
}

div.t2 img:hover {
  border: 1px solid darkgray;
  transform: perspective(1000px) rotateY(-25deg);
}

span h1.tit2 {
  color: white;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

div.t3 {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

div.t3 img {
  cursor: pointer;
  width: 400px;
  cursor: pointer;
  border: 1px solid darkgray;
  /* transform: perspective(1000px) rotateY(25deg); */
}

div.t3 img:hover {
  border: 1px solid darkgray;
  /* transform: perspective(1000px) rotateY(-25deg); */
}

span h1.tit3 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

div.t4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
}

@media screen and (max-width: 767px) {
  div.t4 {
    width: 100vw;
  }
}

img.i4 {
  transform: scale(1, 1);
  transition: all 1s ease-out;
}

img.i4:hover {
  cursor: pointer;
  top: -5%;
  transform: scale(1.05, 1.05);
  z-index: 500;
}

@media screen and (max-width: 767px) {
  img.i4:hover {
    transform: scale(1, 1);
  }
}

div.t4-1 {
  /* border: 1px solid blue; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin-right:100px; */
}

@media screen and (max-width: 767px) {
  div.t4-1 {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

span h1.tit4 {
  /* border: 1px solid red; */
  vertical-align: middle;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding-right: 20px;
}

p.point {
  border-right: 5px solid gray;
  height: 80px;
  width: 600px;
  margin: 0;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  p.point {
    width: 0;
    position: absolute;
    visibility: hidden;
  }
}

/*    以上首頁第四頁 page4      */

div.pr1 {
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: center;
  background-color: black;
  /* border: 1px solid blue; */
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 100px;
  margin-top: 100px;
}

div.pr1 h1 {
  cursor: pointer;
  /* border: 1px solid red; */
  font-size: 2.5rem;
  color: yellow;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  div.pr1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

div.pr1 h1:hover {
  transform: scale(1.2, 1.2);
  color: lightsalmon;
  transition: all 0.1s ease-in-out;
}

h1.pr {
  width: 100%;
  height: 50px;
}

div.card-box {
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 767px) {
  div.card-box {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

div.card-container {
  width: 350px;
  height: 400px;
  position: relative;
  perspective: 1000px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

.cover,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.18);
  text-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0, 0.125);
}

.cover {
  background-size: 60vh;
  color: white;
  transform: rotateY(0deg);
}

.card-container:hover .cover {
  transform: rotatey(180deg);
}

.back {
  transform: rotateY(0deg);
  color: white;
  transform: rotatey(-180deg);
}

.back h1,
p {
  font-size: 1.2rem;
}

.card-container:hover .back {
  transform: rotatey(0deg);
}

.cover2 {
  background-size: cover;
  transform: rotateY(0deg);
}

.card-container:hover .cover2 {
  transform: rotatey(180deg);
}

.cover3 {
  transform: rotateY(0deg);
}

.card-container:hover .cover3 {
  transform: rotatey(180deg);
}

/*    以上首頁第五頁 page5      */

footer {
  /* border: 1px solid red; */
  margin-top: 100px;
  background-color: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h1.ac {
  font-size: 2.5rem;
  color: yellow;
  letter-spacing: 2px;
  /* border: 1px solid purple; */
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}

h1.ac:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2) !important;
  color: lightsalmon;
  transition: all 0.1s ease-in-out;
}

h1.ac.active {
  opacity: 1;
  transform: scale(1);
}

div.ft1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  /* border: 1px solid purple; */
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}

div.ft1.active {
  opacity: 1;
  transform: scale(1);
}

div.ft1 h1.ff1 {
  font-size: 1.5rem;
  margin-left: 20%;
  color: gray;
  /* border: 1px solid red; */
}

div.ft1 p,
h1 {
  font-size: 1.5rem;
}

div.ip1 {
  width: 100%;
  /* border: 1px solid white; */
  letter-spacing: 2px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 767px) {
  div.ip1 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

div.ip1 h1,
h3 {
  font-size: 1.2rem;
}

div.ip1.active {
  opacity: 1;
  transform: scale(1);
}

div.ip2 {
  /* border: 1px solid white; */
  display: flex;
  color: white;
  justify-content: center;
  margin-left: 20%;
  align-items: center;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  div.ip2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
  }
}

div.ip1 {
  background-image: url(https://m.media-amazon.com/images/M/MV5BOWY5M2JiMWEtZWExNS00MmQzLWIwMzgtMGI3OTY2ZTRmZjM4XkEyXkFqcGdeQXVyOTA3MTMyOTk@._V1_FMjpg_UX1280_.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

input.in1,
input.in2,
select,
input {
  font-size: 1.2rem;
}

div.push {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 95%;
}

button.bb {
  display: block;
  width: 300px;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  /* border: 1px solid pink; */
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}

button.bb.active {
  opacity: 1;
  transform: scale(1);
}

button.bb:hover {
  background-color: black;
  color: white;
  transform: scale(1.2);
}

div.final {
  display: flex;
  margin-top: 100px;
  margin-right: auto;
  width: 100%;
}

a > i {
  margin-top: 50px;
  font-size: 4rem;
  color: white;
}

p.fin {
  color: lightgray;
  margin: 0;
  font-size: 1.2rem;
}

p.si {
  margin: 0;
  border-top: 2px solid gray;
  padding-top: 20px;
  margin-top: 20px;
  color: pink;
  font-size: 1.2rem;
}
