body {
  font-family: "Abel", sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: black;
}

nav.nav {
  display: block;
  padding: 0px;
  margin: 0px auto;
  position: relative;
  top: 0;
  background: #000;
}

@media screen and (min-width: 768px) {
  nav.nav {
    display: block !important;
  }
}

@media screen and (max-width: 767px) {
  nav.nav {
    display: none;
  }
}

ul.list {
  padding: 0;
  margin: 0;
}

ul.list > li {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  ul.list > li {
    display: block;
  }
}

button.btn_switch {
  display: none;
}
/* 行動版時，將按鈕顯示出來 */
@media screen and (max-width: 767px) {
  button.btn_switch {
    display: inline-block;
    margin: 20px;
  }
}

ul.list > li > a {
  padding: 10px;
  color: yellow;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: 10px center;
  margin-right: 50px;
}

@media (max-width: 767px) {
  ul.list > li > a {
    display: flex;
    flex-direction: column;
  }
}

ul.list > li > a:hover {
  transform: scale(1.2, 1.2);
  color: lightsalmon;
  transition: all 0.1s ease-in-out;
}

@media (max-width: 767px) {
  ul.list > li > a:hover {
    transform: scale(1, 1);
  }
}

button.btn_switch {
  font-size: 1.5rem;
}

a.log > img.logo {
  width: 60px;
  height: 41.95px;
}

@media (max-width: 767px) {
  a.log {
    position: absolute;
    visibility: hidden;
  }
}

div.title {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: yellow;
}

div.title img {
  max-width: 100%;
  animation: scale;
  animation: scale 5s infinite;
}

@keyframes scale {
  0% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(0.8, 0.8);
  }

  100% {
    transform: scale(1);
  }
}

h1.t1 {
  font-size: 2.5rem;
  text-align: center;
}

div.pack {
  width: calc(100% / 2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  div.pack {
    display: flex;
    flex-direction: column;
  }
}

div.pack img {
  transition: all 0.5s ease-out;
}

div.pack img:hover {
  top: -5%;
  transform: scale(1.2, 1.2);
}

div.package2 {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

@media screen and (max-width: 767px) {
  div.package2 {
    margin-right: 0px;
  }
}

div.package2 img {
  border-radius: 50%;
  max-width: 350px;
}

div.package2 a {
  text-decoration: none;
}

div.package2 a h1 {
  font-size: 1.5rem;
  color: white;
  vertical-align: middle;
}

div.package2 p {
  font-size: 1.2rem;
  color: white;
  word-break: break-all;
}

div.package3 {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.package3 img {
  border-radius: 50%;
  min-width: 350px;
  max-height: 161px;
}

div.package3 a {
  text-decoration: none;
}

div.package3 a h1 {
  font-size: 1.5rem;
  color: white;
}

div.package3 p {
  font-size: 1.2rem;
  color: white;
  word-break: break-all;
}

div.pack2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  div.pack2 {
    display: flex;
    flex-direction: column;
  }
}

div.pack2 img {
  transition: all 0.5s ease-out;
}

div.pack2 img:hover {
  top: -5%;
  transform: scale(1.2, 1.2);
}

div.package4 {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 100px;
}

@media screen and (max-width: 767px) {
  div.package4 {
    margin-right: 0px;
  }
}

div.package4 img {
  border-radius: 50%;
  max-width: 350px;
}

div.package4 a {
  text-decoration: none;
}

div.package4 a h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  vertical-align: middle;
}

div.package4 p {
  font-size: 1.2rem;
  color: white;
  word-break: break-all;
}

div.package5 {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

div.package5 img {
  border-radius: 50%;
  min-width: 350px;
  max-height: 147px;
}

div.package5 a {
  text-decoration: none;
}

div.package5 a h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
}

div.package5 p {
  font-size: 1.2rem;
  color: white;
  word-break: break-all;
}

div.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;
}

img {
  object-fit: cover;
}

a img.show {
  width: 370px;
  min-height: 200px;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}

a img.show:hover {
  top: -5%;
  transform: scale(1.2, 1.2);
}

div.package1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  div.package1 {
    display: flex;
    flex-direction: column;
  }
}

div.pp1 a {
  text-decoration: none;
}

div.pp1 a h1.c1 {
  width: 400px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

div.pp1 p {
  color: gray;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: 50px;
}

div.title1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin: 0 auto;
}

h1.t2 {
  color: yellow;
  font-size: 2.5rem;
}

div.bt {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 50px;
  margin-bottom: 50px;
  width: 95%;
  margin: 0 auto;
}

a > i {
  font-size: 4rem;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

p.fin {
  color: lightgray;
  margin: 0;
  font-size: 1.2rem;
}

p.si {
  margin: 0;
  border-top: 2px solid gray;
  padding-top: 20px;
  margin-top: 20px;

  color: pink;
  font-size: 1.2rem;
}
